.table-header {
	background-color: #222;
	color: silver;
	border-bottom: none;
}

#table .table {
	margin-bottom: 0px;
}

#summary {
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.table td {
	padding: 8px;
	line-height: 20px;
	text-align: center;
	vertical-align: top;
	border-top: 1px solid rgba(221, 221, 221, 0.19);
}

.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th {
	color: #D3AF7B;
	background-color: rgba(20, 20, 20, 0.55);
}

.table-sort-liner {
	width: 100%;
	padding-right: 0px;
}

#table table {
	width: 350px;
}

.experiment-banner {
	line-height: 17px;
	height: 92px;
	overflow: hidden;
	font-size: 90%;
	text-align: left;
	background-repeat: no-repeat;
	padding: 10px;
	padding-left: 320px;
	background-color: #0F0F0F;
}

.tilt {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.pcard {
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-position: -20px 0px, 0 0;
	-webkit-transition: background-position background-size 1s ease;
	-moz-transition: background-position background-size 1s ease;
	-o-transition: background-position background-size 1s ease;
	transition: background-position background-size 1s ease;
	text-shadow: 1px 1px #000000;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 10+, Firefox on Android */
	-webkit-transition: all 0.5s ease;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.pcard:hover {
	background-position: 0px 0px, 0 0;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.highCard {
	background-position: 0px 0px, 0 0;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, 0.66);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, 0.66);
	box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, 0.66);
}

.pagination {
	margin: 0px;
}