<link href="new/css/styles.css" rel="stylesheet"></link>
<script src="js/filters.js"></script>
<div ng-controller="AvailableReservationsListCtrl" ng-show="ready">
	<div class="page-header" style="border: none; margin-bottom: 10px">
		<div class="row" style="margin-bottom: 0px">
			<h2 style="margin-left: 18px">{{'new.header'|i18n}}</h2>
		</div>
	</div>
	<div class="container">
		<p>{{'new.intro'|i18n}}</p>
		<div>
			<h3 style="margin-bottom: 15px; margin-top: 20px; font-size: 23px">{{'new.phases.one.header'|i18n}}</h3>
			<ul class="thumbnails">
				<li class="span6">
					<div class="experiment-banner pcard"
						style="background-image: url(new/img/sun-alpha.png);"
						ng-click="experimentClicked('SOLAR')"
						ng-class="{highCard: experimentSelected == 'SOLAR'}">
						<h4 style="margin-top: 0px">{{'new.phases.one.experiments.solar.name'|i18n}}</h4>
						{{'new.phases.one.experiments.solar.desc'|i18n}}
					</div>
				</li>
				<li class="span6">
					<div class="experiment-banner pcard"
						style="background-image: url(new/img/night-alpha.png);"
						ng-click="experimentClicked('NIGHT')"
						ng-class="{highCard: experimentSelected == 'NIGHT'}">
						<h4 style="margin-top: 0px">{{'new.phases.one.experiments.night.name'|i18n}}</h4>
						{{'new.phases.one.experiments.night.desc'|i18n}}
					</div>
				</li>
			</ul>
		</div>

		<div ng-show="experimentSelected != null" class="animate-show">
			<h3 style="margin-bottom: 15px; font-size: 23px">{{'new.phases.two.header'|i18n}}</h3>
			<ul class="thumbnails">
				<li ng-show="experimentSelected == 'SOLAR'" class="span6">
					<div class="experiment-banner pcard"
						style="background-image: url(new/img/tads-alpha.png)"
						ng-click="telescopeClicked('TADs')"
						ng-class="{highCard: telescopeSelected == 'TADs'}">
						<h4 style="margin-top: 0px">{{'new.phases.two.telescopes.tads.name'|i18n}}</h4>
						{{'new.phases.two.telescopes.tads.desc'|i18n}}
					</div>
				</li>
				<li ng-show="experimentSelected == 'NIGHT'" class="span6">
					<div class="experiment-banner pcard"
						style="background-image: url(new/img/bart-alpha.png);"
						ng-click="telescopeClicked('BART')"
						ng-class="{highCard: telescopeSelected == 'BART'}">
						<h4 style="margin-top: 0px">{{'new.phases.two.telescopes.bart.name'|i18n}}</h4>
						{{'new.phases.two.telescopes.bart.desc'|i18n}}
					</div>
				</li>
			</ul>
		</div>

		<div class="animate-show"
			ng-show="experimentSelected != null && telescopeSelected != null"
			ng-controller="DatepickerCtrl">
			<h3 style="margin-bottom: 15px; font-size: 23px">{{'new.phases.three.header'|i18n}}</h3>
			<div class="row" style="margin-left: 0px">
				<div class="span5"
					style="color: silver; margin-bottom: 20px; margin-left: 0px">
					<datepicker class="rowBack" style="color: silver" ng-model="dt"
						min="current" max="week" show-weeks="showWeeks"
						date-disabled="disabled(date, mode)"></datepicker>
				</div>

				<div class="span7">
					<p>{{'new.phases.three.p1'|i18n}}</p>
					<p>{{'new.phases.three.p2'|i18n}}</p>
					<p>{{'new.phases.three.p3'|i18n}}</p>
				</div>
			</div>
		</div>

		<div ng-show="dateSelected">
			<h3 style="margin-bottom: 15px; font-size: 23px">{{'new.phases.four.header'|i18n}}</h3>
			<div class="animate-show span5"
				style="text-align: center; margin-left: 0px">
				<div ng-show="loading && dateSelected"
					class="animate-show alert alert-g mess-info"
					style="width: 50%; margin-right: 0px; margin-left: 15%; margin-top: 20px;">{{'new.phases.four.loading'|i18n}}...</div>
				<div class="animate-show"
					ng-show="!loading && dateSelected && available.length == 0"
					style="width: 100%; margin-right: 0px; margin-top: 20px">
					<div class="alert alert-g">{{'new.phases.four.noslot'|i18n}}
						day.</div>
				</div>
				<div ng-show="!loading && available.length > 0 && dateSelected">
					<div id="table" class="table table-hover"
						style="cursor: pointer; color: #08C; margin-bottom: 0px; width: 350px"></div>
					<div id="pagination" class="pagination pagination-centered"
						style="text-align: center; margin-top: 0px; width: 350px">
						<ul class="aui-pagination-content">
						</ul>
					</div>
				</div>

			</div>
			<div class="animate-show span7" ng-show="dateSelected">
				<p>{{'new.phases.four.p1'|i18n}}</p>
				<p>{{'new.phases.four.p2'|i18n}}</p>
				<div id="summary" class="animate-show" ng-show="slotSelected"
					style="background-color: #0F0F0F; margin-top: 20px; overflow: hidden; max-height: 300px">
					<div class="row" style="margin-left: 0px">
						<div ng-style="summaryStyle"
							style="width: 215px; float: left; height: 300px"></div>
						<div
							style="float: left; padding: 20px; width: 285px; padding-bottom: 15px;">
							<h3 style="margin-top: 0px; margin-bottom: 20px">{{'new.phases.four.summary.title'|i18n}}</h3>
							<h5 style="color: #FF9900; margin-bottom: 5px">{{'new.phases.four.summary.what.title'|i18n}}</h5>
							<p style="font-size: 0.85em; line-height: 15px">{{'new.phases.four.summary.what.text'|i18n:telescopeSelected:
								experimentSelected}}</p>
							<h5 style="color: #FF9900; margin-bottom: 5px">{{'new.phases.four.summary.when.title'|i18n}}</h5>
							<p style="font-size: 0.85em; line-height: 15px">
								{{'new.phases.four.summary.when.text'|i18n:(slot.begin | utc |
								date:'completeDate'):(slot.end | utc | date:'completeDate')}}</p>
							<div ng-show="!reservationDone && !reservationError"
								align="center" style="padding-top: 30px">
								<button ng-click="reserve()" class="btn btn-info">{{'new.phases.four.summary.request'|i18n}}</button>
							</div>
							<div
								style="padding-top: 30px; font-size: 0.9em; line-height: 15px; color: #D3AF7B"
								class="animate-show" ng-show="reservationError">
								<i class="icon-remove"
									style="float: left; background-color: #D3AF7B; margin-right: 5px; margin-top: 0px"></i>
								<div style="padding-left: 20px">{{'new.phases.four.notime'|i18n}}</div>
							</div>
							<div
								style="padding-top: 30px; font-size: 0.9em; line-height: 15px; color: #D3AF7B"
								class="animate-show" ng-show="reservationDone">
								<i class="icon-ok"
									style="float: left; background-color: #D3AF7B; margin-right: 5px; margin-top: 0px"></i>
								<div style="padding-left: 20px">
									{{'new.phases.four.done'|i18n}} <a style="color: #D3AF7B"
										href="#/pending">{{'new.phases.four.here'|i18n}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>